<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>

    <div>
      If you don't want to receive <i><%= UnsubscribeService.group_for_email_action_name controller.action_name %></i> emails from <%= Const.common[:name] %>, please <%= link_to "unsubscribe", UnsubscribeService.link_to_unsubscribe_for_user_id_and_action(@user.id, controller.action_name) %>.
    </div>
  </body>
</html>
